stages:
  - build

variables:
  DOCKER_BUILDKIT: 1
  BUILDKIT_PROGRESS: plain
  # GitLab Container Registry
  IMAGE: $CI_REGISTRY_IMAGE/frontend

build:frontend:
  stage: build
  image: docker:29-cli
  services:
    - docker:29-dind
  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin
  script:
    - |
      docker buildx create --use --name builder --driver docker-container || true
      docker buildx build \
        --file ./frontend/Dockerfile \
        --cache-from type=registry,ref=$IMAGE:buildcache \
        --cache-to type=registry,ref=$IMAGE:buildcache,mode=max \
        --tag $IMAGE:$CI_COMMIT_SHORT_SHA \
        --tag $IMAGE:latest \
        --push \
        --provenance=false \
        ./frontend
  after_script:
    - docker buildx rm builder || true
  only:
    - main
